<%- include('../partials/header') %>

<!-- Data passed to a template can be accessed by the partials as well! -->

<div class="container">
  <header class="jumbotron">
    <h1>This is the campgrounds page</h1>
    <p>
      <a class="btn btn-primary btn-large" href="/campgrounds/new">Add a new Campground</a>
    </p>
  </header>
 
  <div class="row">
    <div class="col-lg-12">
      <h2>Our Most Popular Campgrounds</h2>
    </div>
  </div>
  <div class="row">
    <% for(let i in campgrounds){ %>
        <div class="col-lg-4 col-sm-6" style="display: flex; flex-wrap: wrap;">
          <div class="thumbnail">  
            <img src= "<%=campgrounds[i].image %>" alt="A beautiful campsite" style="width: 100%; max-height: 200px;">
            <div class="caption" style="margin: auto;">
              <h4><%=campgrounds[i].name%></h4>
            </div>
            <p style="margin: auto;">
              <a href="/campgrounds/<%=campgrounds[i]._id%>" class="btn btn-primary btn-large">More Info</a>
            </p>
          </div>
        </div>
    <% } %>
  </div>

  
  
  <a href="/">Go Back</a>
</div>

<%- include('../partials/footer') %>